.jobs{
	width: 1000px;
	margin:0 auto;
	padding:30px 50px;
	position: relative;
}
.aboutme{
	width: 600px;
	position: relative;
}
.aboutme h4{
	position: absolute;
	top:0;
	left:-40px;
	color:#fff;
	width: 80px;
	padding:5px 15px 5px 55px;
	font-size:18px;
	background-color: #3C6293;
}
.aboutme .disc{
		float: left;
		padding-top: 40px;
}
.disc .self{
	// padding-left: 100px;
	display:block;
	color:#3C6293;
	font:500 40px 'microsoft Yahei';
	margin-bottom:10px;
}
.disc .self::before{
	content:'\e6ed';
	font-family:'myfont';
}
.disc .self::after{
	content:'\e639';
	font-family:'myfont';
}
.disc .one::after{
	content:'\e647';
	font-family:'myfont';
}
.disc .two::after{
	content:'\e7ce';
	font-family:'myfont';
}
.disc .three::after{
	content:'\e642';
	font-family:'myfont';
}
.disc .fore::after{
	content:'\e604';
	font-family:'myfont';
}
.disc li::before{
	content:'\e681';
	font-family:'myfont';
}
.disc li{
	margin-bottom:10px;
	line-height:24px;
}
.work h4::after{
	content:'\e6e6';
	font-family:'myfont';
}
.work,.program{
	padding-top:20px;
	position: relative;
}
.work h4,.program h4{
	color:#3C6293;
	width: 600px;
	border-bottom: 2px solid #3C6293;
	font-size:25px;
}
.work .compu h5{
	width: 9%;	
	color:#3C6293;
	float: left;
	text-align:center;
	padding-right: 5px;
}
.program .compu h5{
	margin-left:5%;
	text-align:center;
	color:#3C6293;
	width: 50%;
	padding:10px 0;
	border-bottom:1px solid #3C6293;
}
.program .compu h5::before{
	padding-right:5px;
	content:'\e619';
	font-family:'myfont';
	color:#3C6293;
}
.work .compu ul{
	border-left: 2px solid #3C6293;
	float: left;
	margin-bottom: 20px;
	padding-left:10px;
}
.compu ul li{
	padding: 5px 0;
}
.program::after{
	position:absolute;
	top:40%;
	right:10%;
	content:'\e6e9';
	font-family:'myfont';
	font-size:300px;
	color:#3C6293;
}
.program .compu ul li{
	width: 50%;
	margin-left:6%;
}
.compu ul li::before{
	content:'\e681';
	font-family:'myfont';
}
.compu{
	padding-top: 10px;
}
.mytell{
	position: absolute;
	top:0;
	right:15%;
}
.showme::before{
	content: '';
	position: absolute;
	border:2px solid #3C6293;
	box-sizing: border-box;
	left:93px;
	top:2px;
	width: 15px;
	height: 15px;
	border-radius:50%;
	background-color: #fff;
}
.mytell .showme{
	width: 200px;
	// height: 1000px;
	background-color:#E6E6E6;
	border-radius:200px 200px 0 0;
	padding-top: 20px;
}
.showme .myphoto{
	width: 150px;
	height: 150px;
	margin:0 auto;
	border: 2px solid #3C6293;
	border-radius:50%;
	overflow: hidden;
	background-color:#3C6293;
}
.mytell .message{
	background-color:#E6E6E6;
	padding-top:50px;
	padding-left:10px;
}
.mytell .message li{
	padding:5px;
}
.mytell .message span{
	font-weight: 700;
}
.mytell .message .email::before{
	content:'\e605';
	font-family:'myfont';
	color:#3C6293;
}
.mytell .message .tel::before{
	content:'\e6e8';
	font-family:'myfont';
	color:#3C6293;
}
.mytell .message .git::before{
	content:'\e7dd';
	font-family:'myfont';
	color:#3C6293;
}
.mytell .title{
	color:#3C6293;
	width: 90%;
	text-align: center;
	border-bottom:2px solid #3C6293;
	line-height:24px;
	margin-bottom:20px;
}
.skill li h4::after{
	content:'\e89a';
	font-family:'myfont';
}
.mytell .skill{
	background-color:#E6E6E6;
	padding-top: 30px;
	padding-left:10px;
}
.mytell .skill li{
	line-height:30px;
}
.mytell .skill li li{
	overflow:hidden;
}
.mytell .skill p{
	float: left;
	margin-right:10px;
}
.mytell .skill p::before{
	content:'\e60e';
	font-family:'myfont';
}
.mytell .skill li h4{
	font-weight:600;
}
.mytell .skill span{
	border:1px solid #000;
	float: left;
	width: 6px;
	height: 6px;
	border-radius:50%;
	background-color:#3C6293;
	margin-top: 10px;
	margin-right: 3px;
}
.mytell .skill .kong{
	background-color: #ccc;
}
.mytell .foot{
	color:#fff;
	font-size:18px;
	text-align:center;
	line-height:30px;
	width: 200px;
	height: 30px;
	background-color: #3C6293;
	position: relative;
}
.mytell .foot::before,.mytell .foot::after{
	position: absolute;
	left:15px;
	font-size:35px;
	content:'\e619';
	font-family:'myfont';
}
.mytell .foot::after{
	left:auto;
	right:15px;
}